$width: 100px;
$padding: 20px;
$left: -($width + $padding);


main {
    margin-left: $padding;
}

#music-component {
    width: $width;
    padding: $padding;

    position: absolute;
    left: $left;
    top: 0;
    bottom: 0;
    //right: 0;

    background-color: bisque;
    z-index: 9;

    transition: left ease-in-out 0.5s;

    #reveal {
        position: absolute;
        top: 40%;
        bottom: 40%;
        right: 0px;
        width: 20px;
        //left: $left + 20px;
        opacity: 0.8;
    }

    &:hover {
        left: 0;
        
    }
}

#keys {
    width: 80%;
    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h3 ~ svg {
        display: block;
        width: 80%;
        height: auto;
        margin: 20px auto;
        filter: grayscale(1) blur(4px);

    }
    .owned {
       filter: none;
    }
}


