{{page-title "semantikeys"}}

<Menu/>
<main>
    {{#if @model.nav}}
        <nav>
            Return to the <LinkTo @route="navigation">map</LinkTo>

            {{~#each @model.nav as |nav|~}}
                /<LinkTo @route="{{nav.route}}">{{nav.text}}</LinkTo>
            {{~/each~}}
        </nav>
    {{/if}}
    {{outlet}}
</main>

