{{page-title "Pt1"}}

<p {{animate 'fadeInDown' delay='2'}}>It's relatively simple. There's a bunch of keys. There's a goal. Keys unlock goal. You get the keys by navigating whatever this is. I'm gonna try to use Ember.js &amp; semantic.works to make the journey a bit interesting. There's no reward. Unless I think of one during development but please don't get your hopes up</p>
<p {{animate 'fadeInDown' delay='3'}}><LinkTo @route="thirteen.pt2">Enter</LinkTo></p>


{{outlet}}